################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoGoogleAuthInAPIBlazorWasm/copilot-chat/a94ddd00/sessions
/.vs/ProjectEvaluation/demogoogleauthinapiblazorwasm.metadata.v9.bin
# .gitignore
.vs/