@page "/"

@using System.Security.Claims
<link rel="stylesheet" href="css/Home.css" />


<AuthorizeView>
    <Authorized>
        <h1>Hello, You are authorized!</h1>
        <h5>ID: @context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)!.Value</h5>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, You are not authorized!</h1>      
    </NotAuthorized>
</AuthorizeView>